In [18]:
import pandas as pd
from sqlalchemy import create_engine
from fuzzywuzzy import fuzz
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

### Setting up connection to pull the tranformed data state binning

In [19]:
# setting up database connection
db_url = "postgresql://postgres:password@localhost:5432/visa_project"
engine = create_engine(db_url)

# loading data after the binning model
print("loading data from database...")
query = "SELECT * FROM public_staging.binning"
df = pd.read_sql(query, engine)

loading data from database...

### Many entries for state had varying spellings, to clean it, I used fuzzy string matching that takes all variations and compares to a standard list of US States and finally converts it into numeric column by label encoding.

In [20]:

# defining US states for matching
us_states = [
    'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware',
    'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
    'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
    'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
    'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
    'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
    'West Virginia', 'Wisconsin', 'Wyoming'
]

# function to clean state names
def clean_state_name(name, choices):
    return process.extractOne(name, choices)[0] if pd.notna(name) else 'Unknown'

# applying state cleaning
print("cleaning state names...")
df['EMPLOYER_STATE'] = df['EMPLOYER_STATE_PROVINCE'].apply(lambda x: clean_state_name(x, us_states))

# dropping the old column
df = df.drop(columns=['EMPLOYER_STATE_PROVINCE'])

cleaning state names...

In [21]:
# mapping states to numeric values
state_dict = {state: i for i, state in enumerate(us_states)}

def convert_states_to_numeric(state):
    return state_dict.get(state, -1)

# converting states to numeric
print("converting states to numeric values...")
df['EMPLOYER_STATE'] = df['EMPLOYER_STATE'].apply(convert_states_to_numeric)

converting states to numeric values...

### Required major and employee major are redundant columns, instead, I am creating a boolean column called MAJOR_MATCH which is true if both these columns have same values

In [22]:

# function to check major similarity
def check_major_similarity(required_major, employee_major, employer_name):
    if employer_name == "NIKE, INC.":
        return 1
    if pd.isna(required_major) or pd.isna(employee_major):
        return 0
    required_parts = required_major.split()
    for part in required_parts:
        if fuzz.partial_ratio(part.lower(), employee_major.lower()) >= 80:
            return 1
    return 0

# creating the major match column
print("creating major match column...")
df['MAJOR_MATCH'] = df.apply(
    lambda row: check_major_similarity(row['MAJOR_FIELD_OF_STUDY'], row['FOREIGN_WORKER_INFO_MAJOR'], row['EMPLOYER_NAME']), axis=1
)

# dropping the original major columns
df = df.drop(columns=['MAJOR_FIELD_OF_STUDY', 'FOREIGN_WORKER_INFO_MAJOR'])

creating major match column...

### country of citizenship was converted into a numeric column using label encoder

In [25]:
label_encoder = LabelEncoder()
df['country_encoded'] = label_encoder.fit_transform(df['COUNTRY_OF_CITIZENSHIP'])

### Finally, dropping the original columns of all the columns transformed above to remove data redundancy

In [27]:
final_columns_to_drop = ["MINIMUM_EDUCATION","PW_WAGE","REQUIRED_TRAINING_MONTHS","REQUIRED_EXPERIENCE_MONTHS","COUNTRY_OF_CITIZENSHIP","EMPLOYER_YEAR_COMMENCED_BUSINESS","EMPLOYER_NUM_EMPLOYEES"]

In [28]:
df = df.drop(columns=final_columns_to_drop)

In [31]:
df = df.dropna(axis=0)

### Sending the data back to the postgresql database

In [32]:
# storing the final transformed data to PostgreSQL as a new table
print("storing transformed data to database...")
df.to_sql('state_country_encoded', engine, if_exists='replace', index=False)
print("transformed data successfully stored in database.")

storing transformed data to database...
transformed data successfully stored in database.